# Cable Robot – Joint Calibration (Rohdaten, nach Joint gruppiert)

[Rotation]
motor_id  = 004
robot0    = 460
model0    = 0
robot45   = 640
model45   = 0.722

[Sh_x]
motor_id  = 003
robot0    = 504
model0    = 0.046
robot45   = 792
model45   = 0.295

[Sh_y]
motor_id  = 005
robot0    = 570
model0    = 0.046
robot45   = 862
model45   = 0.295

[Eb1_x]
motor_id  = 006
robot0    = 520
model0    = 0.199
robot45   = 340
model45   = 0.182

[Eb1_y]
motor_id  = 012
robot0    = 526
model0    = 0.199
robot45   = 336
model45   = 0.182

[eb2_x]
motor_id  = 016
robot0    = 526
model0    = 0.276
robot45   = 659
model45   = 0.2595

[eb2_y]
motor_id  = 015
robot0    = 496
model0    = 0.276
robot45   = 633
model45   = 0.2595

[Wr_x]
motor_id  = 013
robot0    = 550
model0    = 0.429
robot45   = 645
model45   = 0.414

[Wr_y]
motor_id  = 010
robot0    = 612
model0    = 0.429
robot45   = 690
model45   = 0.414

[Gripper]
motor_id  = 018
robot0    = 470
model0    = 0.454
robot45   = 415
model45   = 0.44
